@import "bootstrap/variables";
$page-max-width: 1200px;
$header-height: 42px;
$nav-width: 160px;
$nav-s-width: 100px;
$crumbs-height: 34px;
$gutter: 20px;

$text-dark:#333;
$text: #666;
$text-light: #999;
$theme-color: #3ac27e;
$bg-color: #f0f2fa;
$border-color: #e6e6e6;

